.alert{
	display: flex;
	align-items: center;
	background-color: #ffa416;
	color: #fff;
	border: 1px solid #cc7f08;
	padding: 10px;
}

.alert img{
	width: 80px;
	margin-right:10px;
}


.courses{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.subject h3{
	text-align: center;
	color: white;
	text-shadow: 1px 1px #999;
}

.subject{
	width: 330px;
	margin: 20px;
	background-color: #ffa416;
	border-bottom: 3px solid #cc7f08;
	padding: 10px;
}

.subject div{
	display: flex;
	justify-content: space-evenly;
}

.learn{
	display: flex;
	color: #fff;
	padding: 5px;
	margin: 10px;
	justify-content: space-around;
	align-items: center;
	background-color: #555;
	border-bottom: 2px solid #444;
}


.learn img{
	display: inline;
	margin-left: 10px;
	margin-right: -5px;
	height: 30px;
	width:  30px;
}

.exercice{
	display: flex;
	color: #fff;
	padding: 5px;
	justify-content: space-around;
	align-items: center;
	background-color: #555;
	border-bottom: 2px solid #444;
	margin: 10px;
}


.exercice img{
	display: inline;
	margin-right: -5px;
	height: 20px;
	width:  20px;
}
