:root{
    --text: #020302;
    --background: #fcfdfc;
    --primary-button: #559b6f;
    --secondary-button: #e8f2ec;
    --accent: #61a87b;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.eot');
    src: url('/fonts/Inter.eot') format('embedded-opentype'),
    url('/fonts/Inter.woff2') format('woff2'),
    url('/fonts/Inter.woff') format('woff'),
    url('/fonts/Inter.ttf') format('truetype'),
    url('/fonts/Inter.svg') format('svg');
}

body{
    background-color: var(--background);
    color: var(--text);
    font-family: "Inter", Arial, sans-serif;
    min-width: 500px;
    margin: auto;
}

h1{
    font-weight: bold;
    font-size: 4vh;
    margin: 20px 0;
}

h2{
    font-weight: bold;
    font-size: 3vh;
    text-align: center;
    padding: 15px;
}

b{
    font-weight: bold;
    color: var(--accent);
}

p{
    line-height: 3vw;
    font-size: 2.5vh;
    margin: 10px 0;
}

a{
    text-decoration: underline;
    font-weight: bold;
    font-size: 2.5vh;
    color: var(--accent);
    width: auto;
}

