:root{
    --text: #020302;
    --background: #fcfdfc;
    --primary-button: #559b6f;
    --secondary-button: #e8f2ec;
    --accent: #61a87b;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    font-family: "Inter";
    width: 100%;
    height: 100%;
}



.hero{
    background: linear-gradient(10deg, var(--accent), color-mix(in oklab, var(--accent), blue 35%));
    padding: 1rem;
    color: var(--background);
    margin-bottom: 1rem;
}

.hero p{
    text-align: center;
    padding-top: 1em;
    color: color-mix(in oklab, var(--background) 70%, gray);
}

h1{
    text-align: center;
    font-size: clamp(1rem, 3rem, 5vw);
}

h2{
    font-size: clamp(0.5rem, 2.5rem, 5vw);
    line-height: clamp(0.5rem, 2.5rem, 5vw);
}

p{
    padding-bottom: 2vw;
}

p, a, button, li, label, input, span{
    font-size: clamp(0.5rem, 2rem, 3vw);
}



.competence{

}