@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter";
}

.progress_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


.progress, .add{
    position: relative;
    width: min(40vw, 20rem);
    height: min(40vw, 20rem);
    background-color: var(--secondary-button);
    padding: 0.2em;
}

.progress h2{
    text-align: center;
}

.progress .header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: start;
}

hr{
    margin-bottom: 5%;
}

.edit{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
    position: absolute;
    border: 1px solid var(--secondary-button);
    z-index: 1;
    width: 10%;
    height: 10%;
    top: 2.5%;
    right: 5%;
}

.edit:hover{
    transform: scale(101.5%);
}

.progress:hover .edit{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.circular_progress{
    display: flex;
    align-content: center;
    justify-content: center;
}

.circle{
    display: flex;
    align-content: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 0 1rem 0.02rem gray;
}

.mask{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-self: center;
    background-color: var(--background);
    aspect-ratio: 1/1;
    box-shadow: 0 0 1rem 0.02rem gray inset;
    width: 80%;
    border-radius: 50%;
}

.percentage{
    font-size: clamp(0.5rem, 2.5rem, 5vw);
    min-width: 20%;
    border: white 1px solid;
    text-align: center;
}


.edit img {
    width: 100%;
    height: 100%;
}

.add button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.add img {
    height: 70%;
    width: 70%;
}

.configuration {
    padding: 1em;
    max-width: 50em;
    margin: auto;
}

.configuration::backdrop{
    background: #444444;
    opacity: 0.9;
}


.configuration form{
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid black;
    border-radius: 10px;
    gap: 1em;
}

.configuration label{
    display: inline-block;
    width: 7em;
}

.configuration input{
    width: 6em;
    padding: 0.2em;
    text-align: center;
    vertical-align: middle;
}

.configuration input[type="checkbox"]{
    width: 1em;
    height: 1em;
    padding: 0.2em;
    text-align: center;

}

.configuration button{
    max-width: 5em;
    margin: 1em auto 0 auto;
    padding: 0.2em;
}

